.text-field {
    -fx-background-radius: 5;
}
.button {
    -fx-background-color: #00000000;
}
.control:focused {
      -fx-highlight-fill: -fx-accent;
      -fx-background-color: -fx-focus-color, -fx-control-inner-background, -fx-faint-focus-color;
      -fx-background-insets: -1.2, 1, -2.4;
      -fx-background-radius: 3, 2, 4, 0;
      -fx-border-color: -fx-faint-focus-color;
      -fx-border-insets: -1;
     }
.control:focused .button {
      -fx-border-color: -fx-faint-focus-color;
      -fx-border-insets: -1;
      -fx-background-color: #cccccc33;
}